@media (max-width: 425px) {

    .container img {
        width: 15rem;
        height: 25rem;
        border-radius: 30px;
    }

    .container h2 {
        margin-bottom: 2rem;
    }

    .container-books .box {
        justify-content: center;
    }

    .container-books h2 {
        margin-left: 1rem;
    }
}